body {
  font-family: system-ui;
  background: #f06d06;
  color: white;
  text-align: center;
}
  h2 {
     color: green;
  }

img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
  transition: transform 0.3s ease;
}